
body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-image: url('https://image.flaticon.com/icons/png/512/201/201635.png');
    background-color: #000000;
    background-size: 80vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color:#ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color:#ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  marquee{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
     text-align: center;
  }
  .menu ul{
    margin: 0px;
    background-color: #7FFFD4;
    list-style: none;
    text-align: right;}
    
    .menu ul li{
      
      display: inline;
    }
     .menu ul li a{
      padding: 10px 10px;
      display: inline-block;
      color: black;
      text-decoration: none;
      
    
    }
     .menu ul li a:hover{
       color: #D3D3D3;}
    
     .menu ul li a{
    background-color: aqua;
    font-family: arial;
    font-size: 20px;
    color: blue;
    text-align: right;
    } 
    rodape ul{
        margin: 0px;
        background-color: #7FFFD4;
        list-style: none;
        text-align: right;

       }
        .rodape ul li{
          display: inline;

        }
         .rodape  ul li a{
          padding: 10px 10px;
          display: inline-block;
          color:blue;
          text-decoration: none;
          
        }
         .rodape  ul li a:hover{
           color: #D3D3D3;}
       

       
 .rodape{
          background-color: aqua;
          font-family: arial;
          font-size: 20px;
          color: blue;
          text-align: right;
}  